        /* Add some custom styling */
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            
        }
        .section {
            padding: 60px 0;
        }
        .section h2 {
            margin-bottom: 40px;
            text-align: center;
        }
        /* Customize section colors */
        #home { background-color: #f8f9fa; 
            background: url('img/x.png') no-repeat center center;
            background-size: cover;
            color: rgba(102, 20, 20, 0.863);
            text-align: center;
            padding: 100px 0;}
        #beef { background-color: #ececec; 
            background: url('img/pizza_1.jpg') no-repeat center center;
            background-size: cover;}
        #chicken { background-color: #f8f9fa; 
            background: url('img/chicken.jpg') no-repeat center center;
            background-size: cover;}
        #burger { background-color: #ececec; 
            background: url('img/burgeur.jpg') no-repeat center center;
            background-size: cover;}
        #drinks { background-color: #f8f9fa; 
            background: url('img/drinks.jpg') no-repeat center center;
            background-size: cover;}


        h2{
            background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
            color: #ececec;
            width: 100px;
            border-radius: 10px;


        }
        .container {
            perspective: 1000px;
            margin-bottom: 20px; /* Add some space between cards */
            width: 100%;
        }

        /* Flippable card */
        .card {
            width: 100%;
            height: 200px;
            position: relative;
            transform-style: preserve-3d;
            transition: transform 0.6s;
            border: none;
            background-color: rgba(0, 0, 0, 0); /* 50% opacity */
            border-radius: 10px;
            color: black;
        }

        /* Flip when class 'flipped' is added */
        .card.flipped {
            transform: rotateY(180deg); 
        }

        /* Front and back styles */
        .card-front, .card-back {
            position: absolute;
            backface-visibility: hidden;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 10px;
            background-color: rgba(241, 241, 241, 0.5);
            border: black solid 2px;
            
        
        }

        /* Back of the card */
        .card-back {
            transform: rotateY(180deg);
            background-color: rgba(131, 126, 123, 0.5);
            color: black;
            border: white solid 2px;
            
            
        }
        #done_link{
            color: black;
        }
 

        small{
            font-size: 10px;
        }
        a{
            text-align: center;
            color:white ;
        }
        .btn{
            height: 80%;
            width: max-content;
            
            text-align: center;
            border: black solid 2px;
            color: black;
            
            border-radius: 15px;
            
        }

   
        button:focus, .btn:focus {
            outline: none;
            box-shadow: none;
            border: black 2px solid;
            
        }
        
        
    